/*the mediaquery css file must be under your main stylesheet*/
html{
  scroll-behavior: smooth;
  
  --bg-clr-one: #f6f9fe;
  --bg-clr-two: #f4f7fc;
  --bg-clr-three: #eaf3fa;
  --primary-clr: #05555c;
  --primary-light-clr: #eaf3fa;
  --links-clr: #186f78;
  --text-clr: #3f7277;
  --secondary-heading: #277b6d;
} 
/* Nest Hub Max */
@media screen and (max-width: 1280px) {
    
}


/* Nest Hub */
@media screen and (max-width: 1024px) {
    
}

/* Surface Pro 7 */
@media screen and (max-width: 912px) {
    
}

/* For iPad Air */
@media screen and (max-width: 820px) {
    .can{
        flex-direction: column;
    }
    .career-item{
        width: 100%;
    }
    #myheader{
        margin-bottom: 19% !important;
    }
    .career-item{
        font-size: 1rem;
    }
    .softchild div{
        min-width: 350px !important;
    }
}

/* For iPad Mini */
@media screen and (max-width: 768px) {
    
}

/* For Surface Duo */
@media screen and (max-width: 540px) {
    .heroholder{
        flex-direction: column;
    }
    .divh1{
        width: 100%;
    }
    .divh2{
        display: none;
    }
    .links{
        display: none;
    }
    #hamburger{
        display: flex;
    }
    .mybtn{
        display: none;
    }
    .nav{
        margin-bottom: 10%;
        background-color: whitesmoke;
    }
    .logo a{
        color: var(--primary-light-clr);
    }
    .logo a img{
        width: 70%;
        margin-top: 3%;
    }
    .can{
        flex-direction: column;
    }
    .career-item{
        width: 100%;
    }
    .divh1 h1{
        font-size: 2rem;
    }
    #fixed-box{
        width: 50% !important;
    }
}

/* iPhone XR */
@media screen and (max-width: 414px) {
      
}

@media screen and (max-width: 412px) {
    
}

@media screen and (max-width: 393px) {
    
}

/* For iPhone 12 Pro */
@media screen and (max-width: 390px) {
    
}

@media screen and (max-width: 375px) {
    
}

@media screen and (max-width: 360px) {
    
}

@media screen and (max-width: 320px) {
    
}

@media screen and (max-width: 280px) {
    
}