.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-bottom: 10%;
}

.hero-img {
  width: 100%;
  height: 100%;
  filter: brightness(40%); /* darken image for contrast */
}

.hero-text {
  width: 90%;
  left: 50%;
  top: 48%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  padding: 2px;
}

.can{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 15px;
}

.hero-text p {
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.cta-button {
  padding: 12px 24px;
  font-size: 1rem;
  background-color: chocolate;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: orange;
}